.container-fluid {
  padding: 0;
}

h1 {
  margin: 0 50px;
  padding: 30px 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 span {
  margin-left: 55rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

form {
  background-color: #e1f5fe;
  width: 70%;
  padding: 20px 20px 10px;
  margin: 30px auto;
  border-radius: 5px;
}

.form-check {
  margin-right: 5rem;
}

.form-check label {
  font-family: "Roboto", sans-serif;
}
