.container-fluid {
  padding: 0;
}

header {
  background-color: #81d4fa;
}

h1 {
  margin: 0 50px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1.date {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

aside {
  box-shadow: inset;
  height: calc(100% - 3rem);
}
.nav-pills > .nav-link {
  border-radius: 0 !important;
}

div .content {
  margin-left: 9%;
}

form.add-task {
  background-color: #e1f5fe;
  border-radius: 5px;
}
.form-check {
  margin-right: 5rem;
}
.form-check label {
  font-family: "Roboto", sans-serif;
}
