.container-fluid {
  padding: 0;
}

header {
  background-color: #81d4fa;
}

h1 {
  margin: 0;
  font-family: "Vesper Libre", serif;
}

header img {
  width: 30px;
  height: 30px;
}

h1.date {
  font-family: "Cutive", serif;
  font-weight: normal;
}

aside {
  box-shadow: inset;
  height: calc(100% - 3rem);
}
.nav-pills > .nav-link {
  border-radius: 0 !important;
}

.bg-green {
  background-color: #c8e6c9;
}

div .content {
  margin-left: 9%;
}

.priority-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

form.add-task {
  background-color: #e1f5fe;
  border-radius: 5px;
}
.form-check {
  margin-right: 5rem;
}
.form-check label {
  font-family: "Roboto", sans-serif;
}
